:root {
    --turquoise: #7DFFE0;
    --white: #fff;
    --black: #000;

}

.light-theme {
    --bg: var(--turquoise);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnfontColor: var(--turquoise);
}

.dark-theme {
    --bg: var(--black);
    --fontColor:var(--turquoise);
    --btnBg:var(--turquoise);
    --btnfontColor:var(--black);

}

* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background: var(--bg);
    font-family: monospace;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}


.btn {
    position: absolute;
    top: 20px;
    right: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnfontColor);
    background-color: var(--btnBg);
}
.btn:focus {outline-style: none;}



